
.box1002{
  height:220px;
  width:850px;
  background-color: rgba(168, 190, 223, 0.089);
  margin-left:400px ;
  margin-top: -550px;
  display: transparent;
  border-radius: 20px;
}

.box008{
  height:675px;
  width:250px;
  background-color: rgba(1, 7, 17, 0.875);
  margin-left:0px ;
margin-top: -110px;
  display: transparent;
  border-radius: 1px;
}
 






.table12{
    width:35%;
    margin-top: 50px;
    margin-left: 50px;
}
.top1{
  margin-left: 50px;
  margin-top: 30px;
}



.table13{
    width:35%;
    margin-top: 10px;
    margin-left: 800px;
}
.top2{
  margin-left: 800px;
  margin-top: -150px;
}






  @media (max-width: 1200px){
  
    .table12{
        width:45%;
        margin-top: 30px;
        margin-left: 90px;
    }
    .top1{
      margin-left: 90px;
    }



    .table13{
        width:45%;
        margin-top: 30px;
        margin-left: 90px;
    }
    .top2{
      margin-left: 90px;
      margin-top: 50px;
    }
    
    
  


    }