.box112{
    height:450px;
    width:850px;
    background-color: rgba(213, 220, 173, 0.327);
    margin-left:450px ;
    margin-top: -660px;
    display: transparent;
    border-radius: 20px;
  }

  /*
    .bx4{
      height: 600px;
      width:1100px;
      background-image: url(../Images/p1.jpeg);
      background-size: cover;
      border-radius: 20px;
      margin-left: 320px;
      margin-top: -650px;
      position: transparent;
      
  }*/

  .box005{
    height:645px;
    width:250px;
    background-color: rgba(1, 7, 17, 0.875);
    margin-left:0px ;
  margin-top: -110px;
    display: transparent;
    border-radius: 1px;
  }
   
    
    


 

  .rectangle43{
    
    
    background-color:rgba(227, 228, 236, 0.007);;
    margin-left:10px ;
    margin-top: 120px;
    display: transparent;
    
    
  }

  .fn12{
      margin-left: 150px;
      color:purple;
      font-family: arial;
  }

  /* screen size under 1200px*/

  @media (max-width: 1200px){
  
 .box112{
  margin-left: 18px
  }
  .fn12{
      margin-left: 40px;
  }

  .loop55{
    height:110px;
    width:260px;
  margin-left: 240px;
  margin-top: -650px;
  
    
  }

    .rectangle43{
        overflow-x: auto;
        margin-left: 30px;
        margin-top: 590px;
        
       }
     
      .table-striped  {
       width: 800px;
      } 

      

    
    
}