.box102{
    height:220px;
    width:850px;
    background-color: rgba(168, 190, 223, 0.089);
    margin-left:400px ;
    margin-top: -630px;
    display: transparent;
    border-radius: 20px;
  }

  
  .box007{
    height:655px;
    width:250px;
    background-color: rgba(1, 7, 17, 0.875);
    margin-left:0px ;
    margin-top: -110px;
    display: transparent;
    border-radius: 1px;
  }